/*
 *  login.css
 *
 *  This file was originally generated czluck123@gmail.com
 *  July 4, 2012, 21:59 
 *
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{margin:0;padding:0; }

li{ list-style:none;}

ul{ font-size:10px;
    margin:0;}
p{text-align: center;}
.breakNewsblock
{
    margin:0 auto;
    position:relative;
    width:276px;
    overflow:hidden;
}

.breakNewsblock h2
{
    background:transparent ;
    color:#8F1D21;
    float:left;
    font-size:12px;
    padding-left:25px;
    padding-top: 5px;
}

.breakNewsblock h2 span
{
    float:right;
    padding-right:10px;
}

#breakNews
{
    background:transparent;
    float:left;
    height:260px;
    margin-top:5px;
    padding:0 0 2px 2px;
    width:280px;
}

#breakNews .list6
{
    color:#333333;
    float:left;
    height:280px;
    margin-top:5px;
    overflow:hidden;
    width:260px;
    padding-left:10px;
    font-size: 14px;
}

#breakNews .list6 li{ padding:3px 0;}

#breakNews .hit {float:right;height:24px; margin-top:23px; width:17px;}

#breakNews .hit span { display:block;float:left;height:13px; margin-bottom:6px;width:13px;}

a img {border:none}
a img:hover {border:none}

.dock img {
  width: 70px;
  height: 70px;
}

body {
  font-family: "Microsoft YaHei","TrueType ","sans-serif", ;
  text-align: center;
  margin: 0;
  padding: 0;
}

#wrapper {
  text-align:left;
  margin:0 auto;
  width: 1024px;
}

/* You named this layer login-background */
#login-bg{
  position:relative;
   width: 1024px;
   height: 768px;
   z-index: 1;
   background: url(../img/login/login-bg.jpg) no-repeat;
}

/* You named this layer CentOS-text */
#Layer-2 {
 
  position:absolute;
  left: 672px;
  top: 705px;
  width: 80px;
  height: 18px;
  z-index: 2;
}

/* You named this layer Gentoo-text */
#Layer-3 {
  position:absolute;
  left: 800px;
  top: 201px;
  width: 70px;
  height: 17px;
  z-index: 3;
}

/* You named this layer Fedora-text */
#Layer-4 {
  position:absolute;
  left: 877px;
  top: 289px;
  width: 75px;
  height: 17px;
  z-index: 4;
}

/* You named this layer Slackware-text */
#Layer-5 {
  position: absolute;
  left: 463px;
  top: 208px;
  width: 115px;
  height: 17px;
  z-index: 5;
}

/* You named this layer Debian-text */
#Layer-6 {
  position: absolute;
  left: 918px;
  top: 393px;
  width: 77px;
  height: 18px;
  z-index: 6;
}

/* You named this layer Deepin-text */
#Layer-7 {
  position: absolute;
  left: 890px;
  top: 502px;
  width: 77px;
  height: 21px;
  z-index: 7;
}

/* You named this layer Archlinux-text */
#Layer-8 {
  position: absolute;
  left: 843px;
  top: 603px;
  width: 104px;
  height: 17px;
  z-index: 8;
}

/* You named this layer Mint-text */
#Layer-9 {
  position: absolute;
  left: 427px;
  top: 403px;
  width: 49px;
  height: 18px;
  z-index: 9;
}

/* You named this layer Opensuse-text */
#Layer-10 {
  position: absolute;
  left: 447px;
  top: 594px;
  width: 116px;
  height: 21px;
  z-index: 10;
}

/* You named this layer Puppy-text */
#Layer-11 {
  position: absolute;
  left: 430px;
  top: 291px;
  width: 69px;
  height: 21px;
  z-index: 11;
}

/* You named this layer Ubuntu-text */
#Layer-12 {
  position: absolute;
  left: 441px;
  top: 501px;
  width: 77px;
  height: 17px;
  z-index: 12;
}

/* You named this layer tux */
#tux {
  position: absolute;
  left: 624px;
  top: 328px;
  width: 145px;
  height: 185px;
  z-index: 13;
}

/* You named this layer  */
#messagebox {
  position: absolute;
  left: 34px;
  top: 197px;
  width: 346px;
  height: 411px;
  z-index: 14;
    font-family: sans-serif;
    font-size:20px;
    text-align: left;
}

/* You named this the button1*/

#button1 a {
    background-image: url(../img/login/button.png) ;
    position: absolute;
    left: 70px;
    top: 340px;
    width: 200px;
    height: 60px;
    z-index: 15;
    color: white;
    display: inline-block;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}
#button1 a:hover
{
    cursor: pointer;
    text-decoration: none;
    color: yellow;
}
/* You named this layer help */
#Layer-16 {
  position: absolute;
  left: 25px;
  top: 16px;
  width: 151px;
  height: 26px;
  z-index: 16;
}

/* You named this layer centos */
#centos {
  position: absolute;
  left: 668px;
  top: 623px;
  width: 83px;
  height: 83px;
  z-index: 17;
}

/* You named this layer archlinux */
#archlinux {
  position: absolute;
  left: 760px;
  top: 577px;
  width: 83px;
  height: 83px;
  z-index: 18;
}

/* You named this layer gentoo */
#gentoo {
  position: absolute;
  left: 696px;
  top: 175px;
  width: 83px;
  height: 83px;
  z-index: 19;
}

/* You named this layer puppy */
#puppy {
  position: absolute;
  left: 510px;
  top: 255px;
  width: 83px;
  height: 83px;
  z-index: 20;
}

/* You named this layer debian */
#debian {
  position: absolute;
  left: 831px;
  top: 373px;
  width: 83px;
  height: 83px;
  z-index: 21;
}

/* You named this layer mint */
#mint {
  position: absolute;
  left: 486px;
  top: 373px;
  width: 83px;
  height: 83px;
  z-index: 22;
}

/* You named this layer fedora */
#fedora{
  position: absolute;
  left: 790px;
  top: 255px;
  width: 83px;
  height: 83px;
  z-index: 23;
}

/* You named this layer ubuntu */
#ubuntu {
  position: absolute;
  left: 527px;
  top: 477px;
  width: 83px;
  height: 83px;
  z-index: 24;
}

/* You named this layer opensuse */
#opensuse{
  position: absolute;
  left: 573px;
  top: 576px;
  width: 83px;
  height: 83px;
  z-index: 25;
}

/* You named this layer deepin */
#deepin{
  position: absolute;
  left: 805px;
  top: 477px;
  width: 83px;
  height: 83px;
  z-index: 26;
}

/* You named this layer slackware */
#slackware {
  position: absolute;
  left: 596px;
  top: 177px;
  width: 83px;
  height: 83px;
  z-index: 27;
}

.dock{
    border: 0px;
}
.dock div a{display:block; width:70px;height:70px; outline:none;}
 
.dock div a img{width:70px; height:70px; position:absolute; left:0; top:0; padding:3px; }

.dock div a img.hover{padding:10px; border:none;}


a:link { color: blue; text-decoration: none;}

a:visited { 
				color: blue;
				text-decoration: none;
			 }

a:hover {
  color: purple;
  text-decoration: none;
  /* font-weight: bold; */
}

