
#comm{
    width: 984px;
    height:550px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../img/content-4.png);
    background-size: 100% 200%;
    background-position: center;
    background-repeat:repeat;
    background-attachment:   fixed ;
    font-size: 15px;
}

#content-3{
    width: 984px;
    height: 340px;
    margin-right: 20px;
    text-align: center;
}

table ,tr,th,td
{
    border: 1px solid #808080;
    border-collapse:collapse;
}

#brf
{
    width: 100%;
    height: 100px;
}

#detail
{
    width: 100%;
}
#intro
{
    width: 600px;
    height: 340px;
    float: left;
}

.sw_img
{
    width: 30%;
    height: 100%;
}
.sw_name{

    width:70%;
    height:100%;
    font-size:40px;
    text-align:center;
}
.sw_info
{
    width: 100%;
    height:16.667%;
    background:yellow;
}

#sw_intro
{
    width: 370px;
    height:340px;
    float:right;
}
#content-4 {
    width: 984px;
    height: 250px;
    margin-right: 20px;
}




