/*
 *  style.css
 *
 *  This file was originally wriiten by czluck
 *  July 5, 2012, 10:34 am 
 *
 */
body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: small;
}
p{
    font-family: Microsoft YaHei;
    font-size:20px;
	text-align: center;
}
/* You named this layer   3 */
#background {
  position: absolute;
  left: 170px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}
/* You named this layer  230550 */
#content-2 {
  position: absolute;
  left: 22px;
  top: 188px;
  width: 230px;
  height: 550px;
  z-index: 2;
}
/* You named this layer   calendar  1  2  3  4  5  6  7 */
#calendar {
  position: absolute;
  left: 11px;
  top: 14px;
  width: 205px;
  height: 173px;
  z-index: 3;

}
/* You named this layer left-button-1 */
#lb1 {
  position: absolute;
  left: 0px;
  top: 275px;
  width: 115px;
  height: 55px;
  z-index: 4;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer left-button-2 */
#lb2 {
  position: absolute;
  left: 0px;
  top: 330px;
  width: 115px;
  height: 55px;
  z-index: 5;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer left-button-3 */
#lb3 {
  position: absolute;
  left: 0px;
  top: 385px;
  width: 115px;
  height: 55px;
  z-index: 6;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer left-button-4 */
#lb4 {
  position: absolute;
  left: 0px;
  top: 440px;
  width: 115px;
  height: 55px;
  z-index: 7;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer left-button-5 */
#lb5 {
  position: absolute;
  left: 0px;
  top: 495px;
  width: 115px;
  height: 55px;
  z-index: 8;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this right-button-1 */
#rb1 {
  position: absolute;
  left: 115px;
  top: 275px;
  width: 115px;
  height: 55px;
  z-index: 9;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer right-button-2 */
#rb2 {
  position: absolute;
  left: 115px;
  top: 330px;
  width: 115px;
  height: 55px;
  z-index: 10;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer right-button-3 */
#rb3{
  position: absolute;
  left: 115px;
  top: 385px;
  width: 115px;
  height: 55px;
  z-index: 11;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer right-button-4 */
#rb4 {
  position: absolute;
  left: 115px;
  top: 440px;
  width: 115px;
  height: 55px;
  z-index: 12;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer right-button-5 */
#rb5{
  position: absolute;
  left: 115px;
  top: 495px;
  width: 115px;
  height: 55px;
  z-index: 13;
    font-family: Microsoft YaHei;
    font-size:25px;
    text-align: center;
}
/* You named this layer home-button */
#home-button {
  position: absolute;
  left: 0px;
  top: 220px;
  width: 230px;
  height: 55px;
  z-index: 14;
    font-family: Microsoft YaHei;
    font-size:45px;
    text-align: center;
}
/* You named this layer content-1 */
#content-1 {
  position: absolute;
  left: 292px;
  top: 188px;
  width: 700px;
  height: 550px;
  z-index: 15;
}
/* You named this layer lightbutton */
#lightbutton {
  position: absolute;
  left: 400px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 16;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}

/* You named this layer button0 */
#button-0{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 17;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button1 */
#button-1{
  position: absolute;
  left: 100px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 18;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button2 */
#button-2 {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 19;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button3 */
#button-3{
  position: absolute;
  left: 300px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 20;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button4 */
#button-4{
  position: absolute;
  left: 400px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 20;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button5 */
#button-5 {
  position: absolute;
  left: 500px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 21;
    font-family: Microsoft YaHei;
    font-size:20px;
    text-align: center;
}
/* You named this layer button6 */
#button-6 {
  position: absolute;
  left: 600px;
  top: 0px;
  width: 100px;
  height: 30px;
  z-index: 22;
  font-family: Microsoft YaHei;
  font-size:20px;
  text-align: center;

}
/* Here are some examples of how you might want to change the
 * look and behavior of the links on your page.  Some examples for
 * further customization are included in comments.  */
a {
  cursor: pointer;
  outline: none;
  border: 0px;
}
a:link {
    color: #000;
    text-decoration: none;
     }
a:visited { color:#000 ; text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}
