#dist_png
{
    width: 50px;
    height: 50px;
    margin-left: 200px;
}
#dist_get
{
    height:auto;
    width: auto;
    text-align: center
}

#dist_png_1
{
    width: 50px;
    height: 50px;
}

#feature{
    float: right;
}