#dist_png
{
    width: 50px;
    height: 50px;
    margin-left: 200px;
}
#dist_get
{
    height:auto;
    width: auto;
    text-align: center
}

#dist_png_1
{
    width: 50px;
    height: 50px;
}

#feature{
    float: right;
}

#result{
    text-align: center;
}

#fit-1{
    height: 50px;
    width: 50%;
    float: left;
 }

#fit-2{
    height: 50px;
    width: 50%;
    float: right;
}